@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     So I made this movie database to practice building a simple site that interacts with a database. The movie page works locally but not when pushed to azure. Life's a struggle.
</p>
